.movieSearchCard {
  display: flex;
  align-items: flex-start;

  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.poster {
  object-fit: contain;
  flex: 1;
  height: 100px;
  width: 70px;
  cursor: pointer;
}

.content {
  margin-left: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
